<div class="room-detail-page">
  <div class="container room-details-container">
    <div class="row room-details justify-content-center">
      <div class="col-md-6">
        <% if @room&.room_image&.attached? %>
          <%= image_tag @room.room_image, class: "img-fluid room-details__image" %>
        <% else %>
          <%= image_tag 'default_room.png', class: "img-fluid room-details__image" %>
        <% end %>
      </div>
      <div class="col-md-6 room-details-body">
        <div class="room-details-body__name-and-price">
          <p class="room-details__name"><%= @room.room_name %></p>
          <p class="room-details__price">¥<%= @room.price_per_night %>~</p>
        </div>
        <p class="room-details__address"><%= @room.address %></p>
        <p class="room-details__content"><%= @room.description %></p>
        <div class="reservation-form">
          <%= form_with(model: [@room, @reservation || @room.reservations.new], local: true, url: room_reservations_path(@room)) do |f| %>
            <div class="reservation-form__input-container">
              <div class="reservation-form__input-group">
                <%= f.label :start_date, "チェックイン" %>
                <div class="reservation-form__input reservation-form__input--date">
                  <%= f.date_field :start_date, class: "form-control" %>
                  <% if f.object.errors[:start_date].any? %>
                    <div class="error-message"><%= f.object.errors[:start_date].first %></div>
                  <% end %>
                </div>
              </div>
              <div class="reservation-form__input-group">
                <%= f.label :end_date, "チェックアウト" %>
                <div class="reservation-form__input reservation-form__input--date">
                  <%= f.date_field :end_date, class: "form-control" %>
                  <% if f.object.errors[:end_date].any? %>
                    <div class="error-message"><%= f.object.errors[:end_date].first %></div>
                  <% end %>
                </div>
              </div>
              <div class="reservation-form__input-group reservation-form__input-group--person-count">
                <%= f.label :people, "人数" %>
                <%= f.select :people, options_for_select((1..10).map { |i| [i, i] }), class: "form-control reservation-form__input reservation-form__input--person-count" %>
                <span>人</span>
                <% if f.object.errors[:people].any? %>
                  <div class="error-message"><%= f.object.errors[:people].first %></div>
                <% end %>
              </div>
            </div>
            <%= f.submit '予約する', class: "btn reservation-form__button" %>
          <% end %>
        </div>
        <div class="mt-4 text-center">
          <%= link_to '戻る', rooms_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
