<!DOCTYPE html>
<html>
<head>
  <title>BookingSample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid px-3">
        <a class="navbar-brand" href="<%= root_path %>">BookingSample</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user.profile_image.attached? %>
                  <%= image_tag url_for(current_user.profile_image), class: 'rounded-circle', width: 30, height: 30 %>
                <% else %>
                  <%= image_tag 'default_avatar.png', class: 'rounded-circle', width: 30, height: 30 %>
                <% end %>
                <%= current_user.username %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><%= link_to '施設の新規登録', new_room_path, class: 'dropdown-item' %></li>
                <li><%= link_to '予約一覧', reservations_path, class: 'dropdown-item' %></li>
                <li><%= link_to '登録施設一覧', my_rooms_rooms_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'アカウント設定', user_account_path, class: 'dropdown-item' %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid px-3">
        <a class="navbar-brand" href="<%= root_path %>">BookingSample</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-link special-link nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-link special-link nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>

  <div class="container mt-5">
    <%= yield %>
  </div>

  <div class="flash-messages">
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>
  </div>

  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <span class="text-muted">© 2024 BookingSample</span>
    </div>
  </footer>
</body>
</html>
